<div class="btn-group">
  <button type="button" class="btn btn-default" 
    ng-click="newCompany()">Add new company</button>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Items per page ({{itemsPerPage}}) <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a ng-click="setPaginationSize(2)">2</a></li>
      <li><a ng-click="setPaginationSize(10)">10</a></li>
      <li><a ng-click="setPaginationSize(50)">50</a></li>
      <li><a ng-click="setPaginationSize(100)">100</a></li>
      <li><a ng-click="setPaginationSize(200)">200</a></li>
    </ul>
  </div>
</div>
<input class="pull-right" type="text" ng-model="companySearch" placeholder=" Search company" />

<table class="table table-hover companies-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Id</th>
      <th>Name</th>
      <th>Adress</th>
      <th>ZIP</th>
      <th>City</th>
      <th>TAX</th>
      <th>Tel</th>
      <th>Fax</th>
      <th>Email</th>
      <th>www</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="company in companies | filter:companySearch 
                  | startFrom:(currentPage-1) * itemsPerPage | limitTo: itemsPerPage">
      <td>{{$index + 1}}</td>
      <td>{{company.logicomId}}</td>
      <td>{{company.name}}</td>
      <td>{{company.adress}}</td>
      <td>{{company.zip}}</td>
      <td>{{company.city}}</td>
      <td>{{company.tax}}</td>
      <td>{{company.phone}}</td>
      <td>{{company.fax}}</td>
      <td>{{company.email}}</td>
      <td>{{company.www}}</td>
      <td><button type="button" class="btn btn-sm btn-default" 
    ng-click="showUsers(company)">Show users</button></td>
      <td><button type="button" class="btn btn-sm btn-default" 
    ng-click="editCompany(company)">Edit</button></td>
    </tr>
  </tbody>
</table>

<div class="text-center">
  <pagination total-items="(companies|filter:companySearch).length" items-per-page="itemsPerPage" 
              ng-model="currentPage" ng-change="pageChanged()"></pagination>
</div>