#loads-container {
    top: 10px;
    bottom: 60px;
    left: 10px;
    right: 10px;
    height: initial;
    width: 100%;
    font-size: 14px;                                                   
    line-height: 1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    form.well {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 15px
    }

    label {
        text-align: right;
    }

    input {
        background-color: white;
        border: 1px solid #bbb;
        width: 60px;
        height: 26px;
        padding-left: 5px;
        margin-bottom: 5px;
        float: left;
        &[type=checkbox] {
            width: 30px;
            margin-top: 8px;
        }

        &[type=submit] {
            float: right;
            margin-right: 20px;
            width: 90px;
            height: 60px;
            border-radius: 2px;
        }
    }

    fieldset.general {
        float: left;
        margin-left: 10px;
    }


    .location { 
        label {
            width: 45px;
        }        
        fieldset {
            margin-bottom: 5px;
        }
    }

    .dimensions {
        width: 250px;
        input {
            margin-right: 5px;
            text-align: center;
        }
        label {
            float: left;
            width: 80px;
            line-height: 26px;
            padding-right: 5px;
            &.unit {
                text-align: left;
                width: 40px;
            }
        }
    }

    .options {
        width: 100px;
        .select-car {
            float: left;
        }
        label {
            padding-top: 14px;
            float: left;
        }
    }


    form > ul{
        margin:0;
        margin-top:10px;
        li {
            border: 1px solid #bbb;
            a {
                padding: 3px;
                text-decoration: none;
                color: inherit;
            }
        }
    }
    ul, li{
        float: left;
        list-style: none;
    }


    .table-wrapper {
        margin-top: 50px;
        overflow-y: auto;
    }

    table {
    	width: 100%;
    	border: 1px solid #bbb;
 
    	tr:nth-child(even){
    		background-color: #dddddd;
    	}

    	thead {
    		background-color: #bbbbbb;
    	}

    	td {
    		border-left: 1px solid #bbb;
    		border-right: 1px solid #bbb;
    	}
    }
}
