#loads-container {
    top: 10px;
    bottom: 60px;
    left: 10px;
    right: 10px;
    height: initial;
    width: 100%;
    font-size: 14px;                                                   
    line-height: 1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    form.well {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 5px;
        margin-bottom: 0px;

        input {
            background-color: $white;
            border: 1px solid #bbb;
            width: 60px;
            height: 26px;
            padding-left: 5px;
            margin-bottom: 5px;
            float: left;
            &:hover {
                background-color: $whiteHover;
            }
            &[type=checkbox] {
                width: 30px;
                margin-top: 8px;
            }

            &[type=submit] {
                float: right;
                margin-right: 20px;
                width: 90px;
                height: 25px;
                border-radius: 2px;
            }
        }
    }

    label {
        text-align: right;
    }

    input {
        background-color: $white;
        border: 1px solid #bbb;
    }

    fieldset.general {
        float: left;
        margin-left: 10px;
    }


    .location { 
        label {
            width: 45px;
        }        
        fieldset {
            margin-bottom: 5px;
        }
    }

    .dimensions {
        width: 250px;
        input {
            margin-right: 5px;
            text-align: center;
        }
        label {
            float: left;
            width: 80px;
            line-height: 26px;
            padding-right: 5px;
            &.unit {
                text-align: left;
                width: 40px;
            }
        }
    }

    .options {
        width: 100px;
        .select-car {
            float: left;
        }
        label {
            padding-top: 14px;
            float: left;
        }
    }


    ul, li{
        float: left;
        list-style: none;
    }
    ul{
        margin: 0;
        padding: 0;
    }

    li {
        margin-left: 2px;
        margin-top: -1px;
        border: 1px solid #ddd;
        background-color: rgb(245,245,245);
        padding: 7px;
        padding-top: 0;
        width: 93px;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        a {
            display: inline-block;
            margin-top: 6px;
            text-decoration: none;
            color: inherit;
        }
        &.selected {
            background-color: $white;
        }
    }


    .table-wrapper {
        margin-top: 35px;
        overflow-y: auto;
    }

    .dataTables_scrollBody {
        border-bottom: 1px solid #bbb;
    }
    .dataTables_paginate {
        padding-top: 0.2em;
        margin-left: 10px;
        margin-right: 10px;
    }
    a.paginate_button {
        padding: 0.4em;
        padding-top: 0.2em;
    }

    input[type=search] {
        margin-right: 2px;
        padding-top: 2px;
        text-align: center;
        width: 120px;
    }

    table {
        width: 100%;
        border: 1px solid #bbb;
        
        &.dataTable thead th{
            border-bottom: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            font-weight: 400;
            color: #555;
            text-align: center;
        }
        &.dataTable tbody td {
            padding: 5px 5px;
        }
        
        tr:nth-child {
            background-color: $white;
        }    
 
    	tr:nth-child(even){
    		background-color: #eee;
    	}

    	thead {
    		background-color: #ddd;
    	}

        td:first-child {
            border: none;
        }
    	td {
    		border-left: 1px solid #bbb;
    	}
    }
}

@media screen and (min-width: 992px) {
    #loads-container form.well {
        padding-bottom: 15px;
        input[type=submit] {
            height: 60px;
        }
    }
}
