#loads-container {
    top: 10px;
    bottom: 60px;
    left: 10px;
    right: 10px;
    height: initial;
    width: 100%;
    font-size: 14px;                                                   
    line-height: 1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

	select, input{
		background-color: white;
		border: 1px solid #bbb;
	}
/*    fieldset{
	    div{
	    	float: left;
	    	width: 20%;
	    	padding:5px;
	    	& *{
	    		float: left;
	    		clear: left;
	    		width: 100%;
	    	}
	    	input[type=checkbox],label{
	    		width: initial;
	    	}
	    	label{
	    		clear: none;
	    		font-weight: normal;
	    	}
	    }
    	border: 1px solid #bbb;
    	width: 100%;
    	display: block;
    	legend{
    		font-size: inherit;
    		width: initial;
    		margin:0;
    		margin-left:15px;
    		border:none;
    	}
    	fieldset{
    		float: left;
    		width: 25%;
    		margin: 3px;
    		select[name=country1], select[name=country2]{
    			float:left;
    			clear:left;
    			width:60px;
    		}
    		select[name=zipCode1], select[name=zipCode2]{
    			float:right;
    			width:120px;
    		}
    		input[type=text]{
    			width: 40%;
    			height:22px;
    		}	
    	}
    }*/
    form > ul{
    	margin:0;
    	margin-top:10px;
    	li{
    		border: 1px solid #bbb;
    		a{
    			padding: 3px;
    			text-decoration: none;
    			color: inherit;
    		}
    	}
    }
    ul, li{
    	float: left;
    	list-style: none;
    }
    .table-wrapper {
        overflow-y: auto;
    }

    table{
    	width: 100%;
    	//clear: both;
    	//position:relative;
    	border: 1px solid #bbb;
    	// & thead{
    	// 	position: absolute;
    	// 	top:0;
    	// }
    	tr:nth-child(even){
    		background-color: #dddddd;
    	}
    	thead{
    		background-color: #bbbbbb;
    	}
    	td{

    		border-left: 1px solid #bbb;
    		border-right: 1px solid #bbb;
    	}
    }
}
