$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import '/bower_components/select2/select2.css';
@import '/bower_components/datatables/media/css/jquery.dataTables.css';
@import 'sass-bootstrap/lib/bootstrap';
@import 'constants';
@import 'loads';

body {
    background: #eee;
}

label {
    font-weight: normal;
}

table.dataTable thead .sorting {
    background: none;
}

input[type]:focus {
    border-color: rgba(130, 130, 130, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(130, 130, 130, 0.6);
    outline: 0 none;
}

button {
    outline: 0 none;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.header-label {
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #aaa;
}

.notification-icon {
    color: #666;
    margin-left: 5px;
}
/*
.form-control:focus{
    border-color : #999;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 100, 100, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 100, 100, 0.6);
}*/

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }

    .nav {
        height: 30px;
        margin-top: 10px;
        
        li {
            vertical-align: middle;
            background-color:#eee;            
            // &:hover {
            //     a {
            //         background-color: #ccc;
            //     }
            // }

            &.active {
                a {
                    background-color: #eee;
                    font-weight: bold;
                    color: #555;
                }
            }

            a {
                padding: 2px;
                color: #777;
            }
        }
    }

    .dropdown-menu {
        li {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}

/*Layout styles*/

.container {
    height: 100%;
    padding: 0px;

    .jumbotron {
        text-align: center;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 0px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0;
        position: relative;

        &.variable-height {
            height: 100%;
        }

    }
}

.chat-region {
    height: 500px;
}

.main-row {
    height: 100%;
}

#main-region {
    padding: 0px;
    height: 500px;
}
.sidebar {
    min-height: 100px;
    padding: 0px;
    margin-top: -40px;
}


/* login page styling */
#login-label {
    margin-top: 40px;
}

/* chat styles */
.sidebar .well {
    height: 100%;
    margin-bottom: 0px;
    padding: 0;
    word-wrap: break-word;
    min-height: 100px;
    border: 1px solid #ddd;
}

.contacts-header {
    // background-color: #ddd;
    // height: 80px;
    // font-size: 14px;
    // border: 1px solid #bbb;
    background-color: #eaeaea;
    height: 80px;
    font-size: 14px;
    border: 1px solid #efefef;
    .icons {
        padding-top: 5px;

        a {
            padding: 2px;
            width: 26px;
        }
    }

    input {
        width: 250px;
        height: 25px;
        line-height: 1em;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #aaa;
    }

    .select2-container {
        float: left;
        margin-top: 8px;
        margin-bottom: 6px;
        margin-left: 10px;
        margin-right: 12px;
    }
}

.list-container {
    height: calc(100% - 80px);
    margin-bottom: 0px;
    overflow-y: auto;
    word-wrap: break-word;
    min-height: 100px;
}
// .contacts-footer {
//     background-color: #bbb;
//     height: 50px;
//     padding-top:2px;
//     textarea {
//         height: 46px;
//         font-size: 12px;
//         margin: 0px;
//         width: 260px;
//         padding-left: 5px;
//     }
// }

#chat-messages-container {
    position: absolute;
    top: 10px;
    bottom: 60px;
    left: 10px;
    right: 10px;
    height: initial;

}

#send-message-group {
    position: absolute;
    bottom: 15px;
    left:   10px;
    right:  10px;
    display: inline-block;
}

/* chat - itemview */
.chat-region {
    height: 100%;
}

.chat-message {
    line-height: 20px;
    font-size: 17px;
    text-align: left;
}

#message-sender {
    font-size: 15px;
}

#message-text {
    padding-left: 10px;
    margin-bottom: 8px;
}

.text-small {
    font-size: 15px;
    margin-bottom: 10px;
}

/*userlist styles*/

#user-list {
    padding: 0px;
}

.panel-group {
    .single-contact {
        border: 0px;
        border-bottom: 1px;
        border-bottom-style: solid;
        border-bottom-color: #eeeeee;
        
        &.panel{
            margin-top:3px;
            
        }

        .panel-heading {
            padding:0;
        }
        .panel-body {
            padding-top: 5px;
            padding-bottom: 10px;
        }

        .icons {
            width: 100%;
            margin-top: 10px;
        }

        a {
            float: left;
            width: 30px;
            margin-right: 10px;
            padding: 2px;
        }

        ul {
            list-style: none;
            font-size: 13px;
            text-align: left;
            padding-left: 0;
            margin-bottom: 0;

            i {
                width: 20px;
            }
        }
        button {
            border: 0;
            width: 100%;
            height: 40px;
            padding-top: 5px;
            text-align: left;
            background-color: #dfdfdf;
            padding-left: 18px;
            color: #555;

            .company {
                font-size: 11px;
                font-weight: 300;
                padding-bottom: 3px;
                margin-left: 22px;
                color: #888;
            }

            i {
                color: #888;
                font-size:10px;
                vertical-align: top;
                margin-right: 8px;
            }

            &.collapsed {
                background-color: #eee;
            }

            &:hover {
                background-color: #ddd;
            }
        }
    }
    
}

.panel-title {
    font-weight: inherit;
}
/* conversation styles */


.row {
    margin: 0px;
}

.conversation {
    margin-bottom: 10px;
}

#conversations-region {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}


.conversation-panel {
    position: relative;
    bottom: 0px;
    width: 100%;
}

.panel-heading {
    padding-bottom: 5px;
    padding-top: 5px;
}

#conversation-person-name {
    height: 25px;
}

.conversation-body {
    height: 250px;
}

#conversation-messages-container {
    overflow-y: auto;
    word-wrap: break-word;
    position: absolute;
    padding: 5px;
    margin-bottom: 0px;
    height: 225px;
    bottom: 30px;
    left: 0px;
    right: 0px;
}

#conversation-input-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    width: 100%;
}

#conversation-msg-input {
    height: 100%;
    border-top-style: none;
    padding: 0px;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        /*max-width: 730px;*/
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 0px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
        padding-top: 10px;
    }

    .panel-title {
        color: #555555;
    }


}

@media screen and (min-width: 992px) {

    body {
        overflow: hidden;
    }

    .main-row {
        height: 500px;
    }

    .sidebar {
        padding-left: 20px;
    }
    

    .bottom-row {
        position: absolute;
        bottom: 0px;
        width: inherit;
        height: 1px;
        margin: 0px;
    }

    .conversation-panel {
        position: absolute;
        bottom: -49px;
    }

    #conversations-region {
        margin-left: -5px;
        margin-right: 25px;
    }

/*    .jumbotron {
        &.variable-height {
            height: 100%;
        }
    }*/
}

