<form role="form">
<div class="text-center">
	<span class="text-muted">Witaj, podaj swoje imię, aby przejść dalej</span>
</div>

<div class="col-md-6 col-md-offset-3">
	<label id="login-label" class="" for="#login-input">Imię</label>
	<div class="input-group">
		<input type="text" class="form-control" id="name-input" placeholder="Podaj swoje imię">
		<span class="input-group-btn">
	        <button class="btn btn-default" id="login-btn" type="button">Dalej</button>
		</span>
	</div>
</div>
</form>