<div class="list-container" id="loads-container"> 
	<form action="#" method="post">
		<fieldset>
			<legend>Filtry</legend>
			<fieldset>
				<legend>Skąd</legend>
				<select style="width:200px" name="country" data-placeholder="Kraj">
					<option></option>
					<option>Norwegia</option>
					<option>Niemcy</option>
					<option>Francja</option>
					<option>Wielka Brytania</option>
				</select>
				<select style="width:140px" name="zipCode">
					<option>Kod pocztowy</option>
					<option>12-345</option>
					<option>23-234</option>
					<option>87-543</option>
				</select>
			</fieldset>
			<fieldset>
				<legend>Dokąd</legend>
				<select style="width:200px" name="country1">
					<option>Kraj</option>
					<option>Norwegia</option>
					<option>Niemcy</option>
					<option>Francja</option>
					<option>Wielka Brytania</option>
				</select>
				<select style="width:140px" name="zipCode1">
					<option>Kod pocztowy</option>
					<option>12-345</option>
					<option>23-234</option>
					<option>87-543</option>
				</select>
			</fieldset>
			<fieldset>
				<legend>Wymiary</legend>
				<input type="text" placeholder="Waga od [kg]" />
				<input type="text" placeholder="długość do [m]" />
				<input type="text" placeholder="Waga od [kg]" />
				<input type="text" placeholder="długość do [kg]" />
			</fieldset>
			<div>
				<select name="car">
					<option>Pojazd</option>
					<option>Samolot</option>
					<option>Motor</option>
				</select>
				<input type="checkbox" name="adr" value="adr" /><label for="adr">ADR</label>
				<input type="submit" value="Filtruj" />
			</div>
		</fieldset>
	</form>
	<ul>
		<li><a href="">PL4 PL5[x]</a></li>
		<li><a href="">GB15</a></li>
		<li><a href="">IT154</a></li>
		<li><a href="">T123</a></li>
	</ul>
	<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<td>Termin</td>
				<td>kod</td>
				<td>Od</td>
				<td>kod</td>
				<td>Do</td>
				<td>Ciężar</td>
				<td>Długość</td>
				<td>Dodano</td>
				<td>Kontakt</td>
			</tr>
		</thead>
		<tbody id="stock-items"></tbody>
	</table>
	</div>
</div>
