<div class="list-container" id="loads-container"> 
	<form class="well" action="#" method="post">
		<fieldset>
			<fieldset class="general location">
				<fieldset>
					<label>Skąd</label>
					<select style="width:200px" name="country" data-placeholder="Kraj">
						<option></option>
						<option>Norwegia</option>
						<option>Niemcy</option>
						<option>Francja</option>
						<option>Wielka Brytania</option>
					</select>
					<select style="width:100px" name="zipCode" data-placeholder="Kraj">
						<option></option>
						<option>12-345</option>
						<option>23-234</option>
						<option>87-543</option>
					</select>
				</fieldset>
				<fieldset>
					<label>Dokąd</label>
					<select style="width:200px" name="country1" data-placeholder="Kod">
						<option></option>
						<option>Norwegia</option>
						<option>Niemcy</option>
						<option>Francja</option>
						<option>Wielka Brytania</option>
					</select>
					<select style="width:100px" name="zipCode1" data-placeholder="Kod">
						<option></option>
						<option>12-345</option>
						<option>23-234</option>
						<option>87-543</option>
					</select>
				</fieldset>
			</fieldset>
			
			<fieldset class="general dimensions">
				<label>Masa</label>
				<input type="text" placeholder="od" /> 
				<input type="text" placeholder="do" />
				<label class="unit">kg</label>

				<label>Długość</label>
				<input type="text" placeholder="od" />
				<input type="text" placeholder="do" />
				<label class="unit">m</label>
			</fieldset>

			<fieldset class="general options">
				<select class="select-car" name="car">
					<option>Pojazd</option>
					<option>Samolot</option>
					<option>Motor</option>
				</select>
				<input type="checkbox" name="adr" value="adr" /><label for="adr">ADR</label>
			</fieldset>
			
			<input type="submit" value="Dodaj Filtr" />
		</fieldset>
	</form>
	<ul>
		<li><a href="">PL4 PL5[x]</a></li>
		<li><a href="">GB15</a></li>
		<li><a href="">IT154</a></li>
		<li><a href="">T123</a></li>
	</ul>
	<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<th>Termin</th>
				<th>kod</th>
				<th>Od</th>
				<th>kod</th>
				<th>Do</th>
				<th>Ciężar</th>
				<th>Długość</th>
				<th>Dodano</th>
				<th>Kontakt</th>
			</tr>
		</thead>
		<tbody id="stock-items"></tbody>
	</table>
	</div>
</div>
