<div class="list-container" id="loads-container"> 
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Termin</th>
					<th>kod</th>
					<th>Od</th>
					<th>kod</th>
					<th>Do</th>
					<th>Ciężar</th>
					<th>Długość</th>
					<th>Dodano</th>
					<th>Kontakt</th>
				</tr>
			</thead>
			<tbody id="stock-items"></tbody>
		</table>
	</div>
</div>
