<div class="well">
	<div class="contacts-header"></div>
	<div class="list-container" id="user-list"> 
	    <div class="panel-group" id="contact-list-container"></div>
	</div>
	<div class="contacts-footer"></div>
</div>